$bgColor: #cecece;
$plateColor: #424242;
$textColor: #f4f4f4;

@mixin rotate($args...) {
            transform: rotate($args);
    -webkit-transform: rotate($args);
        -ms-transform: rotate($args);
}

@mixin translate($args...) {
            transform: translate($args);
    -webkit-transform: translate($args);
        -ms-transform: translate($args);
}

body {
    font: 16px/1.5em sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bgColor;
}

h1 {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-top: 8%;
    text-shadow: -12px 12px 15px rgba(#000, .1);
    
    @media screen and (max-width: 24rem) {
        font-size: 2rem;
    }
}

#plate {
    position: relative;
    width: 24rem;
    height: 24rem;
    display: block;
    margin: 4% auto 0;
    padding: 1.3rem;
    background-color: $plateColor;
    border-radius: 100%;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 15px 5px rgba(#000, .2);
    
    @media screen and (max-width: 24rem) {
        width: 16rem;
        height: 16rem;
        margin: 12% auto 0;
        padding: .9rem;    
    }
}

#one, #two, #three, #four {
    position: absolute;
    display: block;
    width: 10.3rem;
    height: 10.3rem;
    opacity: .6;
    cursor: pointer;
    
    &.enabled {
        opacity: 1;
    } 
    
    @media screen and (max-width: 24rem) {
        width: 7rem;
        height: 7rem;
    }
}

#one {
    border-top-left-radius: 100%;
    background-color: forestgreen;
}

#two {
    border-top-right-radius: 100%;
    background-color: orangered;
}

#three {
    border-bottom-left-radius: 100%;
    background-color: yellow;   
}

#four {
    border-bottom-right-radius: 100%;
    background-color: dodgerblue; 
}

#two, #four {
    right: 1.3rem;
    @media screen and (max-width: 24rem) {
        right: .9rem;
    }
}

#three, #four {
    bottom: 1.3rem;
    @media screen and (max-width: 24rem) {
        bottom: .9rem;
    }
}

#handler {
    position: absolute;
    width: 11.5rem;
    height: 11.5rem;
    display: block;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    border-radius: 100%;
    background-color: $plateColor;
    box-shadow: 0px 0px 10px 5px rgba(#000, .1);
    
    @media screen and (max-width: 24rem) {
        width: 8rem;
        height: 8rem;
    }
    
    p {
        padding: .7rem 0 0 0;
        margin-bottom: 1.5rem;
        font-family: "VT323", monospace;
        font-size: 2.4rem;
        color: $textColor;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width: 24rem) {
            padding: .3rem 0 0 0;
            margin-bottom: .7rem;
            font-size: 1.5rem;
        }
    }
    
    p.label {
        display: inline-block;
        padding-top: 0;
        margin: 0 .4rem 0 .4rem;
        font-size: .9rem;
        text-align: center;
        opacity: .9;
        @media screen and (max-width: 24rem) {
            margin: 0 .2rem 0 .2rem;
            font-size: .85rem;
        }
    }
    
    .buttons {
        display: block;
        text-align: center;
    }
    
    button {
        width: 1.7rem;
        height: 1.7rem;
        display: inline-block;
        margin: 0 .5rem;
        border: none;  
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        box-sizing: border-box;
        
        &#start {
            background: linear-gradient($textColor, darken($textColor, 10%));
            border-bottom: 3px solid #000;  
            &:hover {
                background: linear-gradient(darken($textColor, 5%), $textColor);
                border-bottom-width: 4px; 
            }
            &.restart {
                background: linear-gradient(yellow, darken(yellow, 10%));
            }
        }
        
        &#strict {
            background: linear-gradient(green, darken(green, 10%));
            border-bottom: 3px solid #000; 
            &:hover {
                background: linear-gradient(darken(green, 5%), green);
                border-bottom-width: 4px; 
            }
            &.disabled {
                background: linear-gradient(red, darken(red, 10%));
            }
        }
        
        @media screen and (max-width: 24rem) {
            width: 1.3rem;
            height: 1.3rem;
            margin: 0 .3rem;
        }
    }

}